<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="App_prestamos_deportivo.Properties.Settings.dbs_pretamos_deportivosConnectionString"
            connectionString="Data Source=AP-SE105-07\SQLEXPRESS;Initial Catalog=dbs_pretamos_deportivos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>